@font-face {
  font-family: 'Khand';
  src: url('/fonts/Khand-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf');
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

/* STRIPE FORMS */
.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  display: block;
  width: 100%;
  max-width: 600px;
  padding: 11px 15px 11px 0;
}
