@font-face {
  font-family: 'Khand';
  src: url('/fonts/Khand-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf');
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  min-width: 480px;
  min-height: 100vh;
}

/* Remove most-top border from itemgrid on the items page */
#items-itemgrid > div:first-child {
  border-top: 0 !important;
}

/* STRIPE FORMS */
.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  display: block;
  width: 100%;
  max-width: 600px;
  padding: 11px 15px 11px 0;
}
